* {
    margin: 0;
    padding: 0;
}

/* back */

#back {
    position: fixed;
    margin-left: 20px;
}

#back img {
    width: 50px;
}

/* main */

#main, #main_profile {
    width: 50%;
    margin: 0 auto;
    font-family: 'EB Garamond', serif;
}

#title {
    width: 100%;
    padding: 10px 0;
}

#title img {
    width: 100%;
}

#main #content {
    width: 100%;
}

#main #content img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

#contact {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
}

#contact p {
    margin: 10px 0;
}

#contact a {
    color: rgb(9, 9, 194);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Huy */

#title_profile {
    width: 50%;
    margin: 20px auto;
}

#title_profile img {
    width: 100%;
}

#content_profile {
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}

#content_profile p {
    margin: 10px 0;
}

#content_profile .logo {
    margin: 30px 0;
}

#content_profile .logo img {
    width: 50px;
    margin: 0 10px;
}

.combo {
    display: flex;
    justify-content: center;
}

.combo img, .combo2 img, .combo3 img {
    width: 150px;
    height: 100%;
}

.combo2 {
    text-align: center;
    margin: 50px 20px 0 0;
}

.combo3 {
    display: flex;
    justify-content: right;
}

.combo3 .big_text {
    padding-top: 50px;
}

.combo .big_text {
    padding-top: 50px;
    padding-left: 10px;
}

#working_experience .big_text {
    display: inline-block;
    font-size: 40px;
    margin: 50px 20px 0 0;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

#personal_skill {
    margin: 50px 0 0 0;
} 

#personal_skill .big_text {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

#certificates {
    margin: 50px 0 0 0;
    padding: 50px 0;
}

#certificates .big_text {
    font-size: 40px;
    text-align: right;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}


#awards {
    margin: 50px 0 0 0;
} 

#awards .big_text {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

/* responsive */

@media screen and (max-width: 768px)  {

    /* back */

    #back {
        position: fixed;
        margin-left: 10px;
    }

    #back img {
        width: 30px;
    }

    /* main  */

    #main, #main_profile {
        width: 100%;
    }

    #title img {
        width: calc(100% - 40px);
        padding: 0 20px;
    }

    #main #content img {
        width: calc(100% - 20px);
        height: 100%;
        margin: 5px 0;
        padding: 0 10px;
    }

    #contact {
        margin: 10px 0;
        text-align: center;
        font-size: 15px;
    }

    /* Huy */

    #content_profile {
        font-size: 20px;
        padding: 0;
    }

    #content_profile .logo img {
        width: 30px;
    }

    .combo img, .combo2 img, .combo3 img {
        width: 100px;
    }

    .combo .big_text {
        padding-top: 25px;
        padding-left: 10px;
    }

    #working_experience .big_text {
        font-size: 25px;
    }

    .img {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    #personal_skill .big_text {
        font-size: 25px;
    }

    #certificates .big_text {
        font-size: 25px;
        padding-right: 10px;
    }

    #awards .big_text {
        font-size: 25px;
    }
}